* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-centered {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: sans-serif;
}



/* header */
header {
  background-color: #ff6900;
}

header nav {
  display: flex;
  justify-content: space-between;

}

header nav ul {
  display: flex;
  gap: 8px;
  align-items: center;

  height: 100%;

  list-style-type: none;
}

header nav ul a {
  display: inline-block;

  padding: 8px;

  color: white;
  text-decoration: none;
}

header nav #nav-center {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

header nav #nav-center img {
  height: 20px;

}
/* /header */




/* main */
main {
  padding: 36px;
}

main .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

main .row .card {
  
  width: calc(100% / 3 - 10px);
  height: auto;
  
  margin-bottom: 2em;
}


main .row .card .images-container {
  position: relative;
}

/* elementi absolute */
main .row .card .images-container .heart-icon {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1;

  width: 1.2em;
  height: 1.2em;

  font-size: 1.5em;

  background-color: white;

  text-align: center;
}

/* HOVER SU CUORICINO */
main .row .card .images-container .heart-icon:hover {
  color: red;
}
/* /HOVER SU CUORICINO */

main .row .card .images-container .tags-container {
  display: flex;
  gap: 5px;

  position: absolute;
  bottom: 30px;
  left: 0;
  z-index: 1;
}

main .row .card .images-container .tags-container > div {
  padding: 4px 8px;

  color: white;

  font-size: .8em;
}

main .row .card .images-container .tags-container .tag-discount {
  background-color: red;
}
main .row .card .images-container .tags-container .tag-category {
  background-color: green;
}
/* /elementi absolute */



/* immagine da visualizzare in hover */
main .row .card .images-container .hidden-image {
  position: absolute;
  left: 0;
  top: 0;

  display: none;
}

main .row .card:hover .images-container .hidden-image {
  display: inline-block;
}
/* /immagine da visualizzare in hover */



main .row .card .images-container img {
  width: 100%;
  height: auto;
}


main .row .card .text-container .card-brand {
  font-size: 0.8em;
}

main .row .card .text-container .card-title {
  text-transform: uppercase;
}

main .row .card .text-container .card-prices {
  font-size: 0.8em;
}

main .row .card .text-container .card-prices strong {
  color: red;
  margin-right: .4em;
}

main .row .card .text-container .card-prices span {
  text-decoration: line-through;
}



/* /main */
